* {
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     margin:0;
     padding: 0;
 }
 body {
   background-color: #fff;
 }




.valuePositive {
  color: green;
}
.valueNegative {
  color: red;
}



/************ END OF DEFAULT STYLES ************/


section {
  height: 100%;
}

.butMainMenu {
  width: 100px;
}

.divContainerHide {
  display: none;
}
.divContainerShow {
  display: block;
  background-color: #ccc;
}



.divTable {
  display: table;
  /* width: 100%; */
}
.divRow {
  display: table-row;
}
.divRight:nth-child(odd) { /*zebra stripes*/
   /* background-color: #ccc; */
}
.divCell {
  vertical-align: top;
  border: 1px #CCC solid;
  display: table-cell;
  /* padding: 5px; */
}
.divRight {
  text-align: right;
}

.divRowLabel {
  width: 25%;
}
.divGameLeft {
  width: 15%;
}
.divGameMiddle {
  width: 50%;
}
.divGameRight {
  width: 35%;
}

.div {
}

.errorMessage {
  color: red;
}

#guiImageAlbum {
  width: 32px;
  height: 32px;
}
#guiImageMusician {
  width: 64px;
  height: 64px;
}
#guiImageBand {
  width: 128px;
  height: 128px;
}



p {
  text-align: left;
}

.guiImage {
  width: 32px;
  height: 32px;
}
/* img {
  width: 32px;
  height: 32px;
} */
